<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
 
  <div class="container">
    <div class="row">
      <div class="col-lg-12">        
          <h1 align="center" class="enunciado">Cadastros</h1>       
      </div>
    </div>
    <br>
    <center>
        <%= render 'search' %> 
    </center>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr >           
            <th>Id Cliente ENEL</th>
            <th>Codigo Ocorrencia</th>
            <th>Valor</th>
            <th>Parcelas</th>
            <%if current_user.role == "admin" %>
            <th>Autor</th>
            <th>Data do Cadastro</th>   
            <th class="border-right-0">Protocolo</th>
            <th class="border-0"></th>
            <th><a href="#" class="btn btn-primary btn-md disabled" role="button" aria-disabled="true">Total de registros <span class="badge badge-warning"> <%= @cadastros.total_count %> </span></a></th>     
            <% end %>

          </tr>
        </thead>
        <tbody>
          <% @cadastros.each do |cadastro| %>
          <tr>
            <%if current_user.id == cadastro.user_id || policy(@cadastros).index? %>
            <td class="conteudotabela"><%= cadastro.id_cliente_coelce %></td>
            <td class="conteudotabela"><%= cadastro.codigo_ocorrencia %></td>                  
            <td class="conteudotabela"> R$ <%= cadastro.valor %></td>
            <td align="center" class="conteudotabela"><%= cadastro.parcelas %></td>
            <%if current_user.role == "admin"%>
            <td><a href="#" class="btn btn-info btn-sm disabled" role="button" aria-disabled="true"><%= cadastro.user.username%></a></td>
            <td align="center" class="conteudotabela"><%= cadastro.data_ocorrencia.strftime("%d / %m / %Y") %></td>
            <% end %>
            <td align="center" colspan="1" class="conteudotabela "><%= cadastro.livre %></td>
            <td></td>
            <td align="center">
              <%= link_to'Ver', cadastro,class: 'btn btn-info btn-sm' %>
              <%= link_to 'Editar', edit_cadastro_path(cadastro),class: 'btn btn-success btn-sm'%>  
            </td>          
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  <center><%= paginate @cadastros %></center>
  </div>
</div>