<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Luz do Horto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Doppio+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <%= favicon_link_tag 'icon.png' %>
  <%=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%=javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%=csrf_meta_tags %>
</head>
<% if user_signed_in? %>
   <%= render 'layouts/user_navbar' %>
<% end %>
<body bgcolor="#F2F5A9">
  <div id="content">
    <% if notice.present? %>
     <center><div class="alert alert-success" role="alert" style="width: 700px">
        <p id="notice" style="font-size: 15px"><%= notice %></p>
      </div></center>
    <% end %>
    <% if alert.present? %>
      <center><div class="alert alert-danger" role="alert" style="width: 700px">
        <p id="notice" style="font-size: 15px"><p id="alert"><%= alert %></p>
      </div></center>
    <% end %>
  </div>
  <div >
   <%= yield %>
  </div>
</body>
    <br>
    <div class="logo">
      <center>
      <hr class="linha " width="100%">
      
    </div>
</html>
