<%= form_for(instituico) do |f| %>
  <% if instituico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(instituico.errors.count, "error") %> prohibited this instituico from being saved:</h2>

      <ul>
      <% instituico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <br>
  <div class="container-fluid col-xl-4">
    <div>
      <h2 align="center" class="enunciado">Instituição</h2>
    </div>
    <br>
    <fieldset>
        <div class="form-group row">         
          <label class="col-sm-4 col-form-label font-weight-bold textolabels">Nome Instituição</label>
          <div class="col-md-8">
            <%= f.text_field :nome_instituicao, {:minlength => 20, :maxlength => 20,required: true, class: "form-control"}%>
          </div>
        </div>
        <div class="form-group row">         
          <label class="col-sm-4 col-form-label font-weight-bold textolabels">Id Cliente Parceiro</label>
            <div class="col-md-8">
              <%= f.number_field :id_cliente_parceira, {in: -1...1000000000, required: true, class: "form-control"}%>
            </div>
         </div> 
         <div class="form-group row">         
          <label class="col-sm-4 col-form-label font-weight-bold textolabels">Código Produto </label>
            <div class="col-md-8">
              <%= f.number_field :codigo_produto, {in: -1...10000, required: true, class: "form-control"}%>
            </div>
          </div>
          <div class="form-group row">         
            <label class="col-sm-4 col-form-label font-weight-bold textolabels">Código Empresa Parceira</label>
             <div class="col-md-8"> 
                <%= f.number_field :codigo_empresa_parceira, {in: -1...100, required: true, class: "form-control"}%>
            </div>
          </div>
          <br>
          <div class="footer" align="center">
            <%= f.submit "Salvar", class:"btn btn-primary"%>
            <%=link_to 'Cancelar', instituicos_path, class: 'btn btn-warning'%>
          
        </fieldset>
      </form>   
    </div>
  </div>
  <% end %>
