<div class="container-fluid col-xl-5 rounded border border-secondary" style="background-color: #FAFAFA; font-size: 15px">
  <div class="page-header"> <br> <br> <h1 align="center" class="enunciado"> Informações </h1></div>
  <div class="container-fluid col-xl-10">
  <br>     
  	<div >
      <div ><b class="textoshow">Nome Instituição:</b>&nbsp;<texto> <%= @instituico.nome_instituicao %></texto></div>
    </div>
    <br>
    <div >
      <div><b class="textoshow">Id Cliente Parceira:</b>&nbsp;<texto> <%= @instituico.id_cliente_parceira %></texto></div>
    </div>
    <br>
    <div >
      <div><b class="textoshow">Código do Produto:</b>&nbsp;<texto> <%= @instituico.codigo_produto %></texto></div>
    </div>
    <br> 
    <div >
      <div><b class="textoshow">Código da Empresa Parceira:</b>&nbsp;<texto> <%= @instituico.codigo_empresa_parceira %></texto></div>
    </div> 
    <br>
    <br>
    <td>
      <%=link_to 'Voltar', instituicos_path, class: 'btn-sm btn-info'%> 
      <%= link_to 'Excluir', instituico_path(@instituico), class: 'btn-sm btn-danger', method: :delete, data: { confirm: 'Tem certeza que deseja excluir o registro?' } %>
    </td>

  </div>
  <br>
</div>